.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d4f36;
  color: white;
  padding: 15px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li {
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

/* Hover effect */
.nav-links li:hover {
  color: #daf8ec;
  transform: scale(1.1);
}

/* Active link */
.active {
  color: #daf8ec;
  border-bottom: 3px solid #daf8ec;
}
